.container {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.header {
  height: 15%;
  width: 100%;
  display: flex;
  color: #fff;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav {
  margin: 5%;
}

.nav:hover {
  text-decoration: underline;
}

.contentMain {
  width: 100%;
  height: 100%;
  background-color: aqua;
}
